@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #e38b29;
  --secondary-color: #f1a661;
  --background-color: #fdeedc;
  --font-base: "Poppins", sans-serif;
}

body {
  font-family: var(--font-base);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.text-brand {
  color: var(--primary-color);
}


/* link custom */
.link-custom {
  font-weight: 500;
  position: relative;
  padding-bottom: 0;
}


.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  background-color: var(--primary-color);
  left: 0;
  top: 100%;
  transition: all 0.4s;
}

.link-custom:hover::after {
  width: 100%;
}

/* navbar */
.navbar {
  background-color: rgba(253, 238, 220, 0.75);
}

.navbar .navbar-brand {
  color: var(--primary-color)
}

.navbar .navbar-brand:hover {
  transform: rotate(-5deg);

  color: var(--secondary-color);

}

.navbar .nav-link {
  font-weight: 500;
  color: rgb(75, 75, 75)
}

.navbar .nav-link:hover {
  color: var(--primary-color)
}